body {
    background-color: #c0daf5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.grade-card {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(191, 136, 35, 0.748);
    width: 350px;
}

h2 { color: #3575b5; text-align: center; }

.form-group { display: flex; flex-direction: column; gap: 10px; margin-bottom: 20px; }

label { font-size: 12px; font-weight: bold; color: #299fd5; }

input {
    padding: 10px;
    border: 1px solid #59b2d8;
    border-radius: 6px;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background: #3949ab;
    color: rgb(244, 244, 244);
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

button:hover { background: #283593; }

.boleta-container {
    margin-top: 25px;
    padding: 15px;
    background: #ffffff;
    border: 1px solid #c53131;
    border-radius: 8px;
    display: none;
}

.status-badge {
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
    margin-top: 10px;
}